
<p class="text-info">Please login</p>
<a class="btn btn-outline-light mx-2" id="register" asp-controller="User" asp-action="Register">Register</a>
<a class="btn btn-outline-light mx-2" id="login" asp-controller="User" asp-action="Login">Login</a>