@model StringDivideModel

<div class="container text-center mx-auto col-5">
    <form id="stringForm" class="col text-center mt-5" asp-controller="Home" asp-action="ProcessStringArray" method="post">
        <input class="form-control input" id="inputArray" type="text" name="InputArray" placeholder="Enter comma-separated array">
        <span asp-validation-for="InputArray" class="text-danger"></span>
        <div>
            <button id="submitButton" class="btn btn-primary col text-center mt-3" type="submit">Process</button>
        </div>
    </form>
    @Html.Partial("_ProcessedResultPartial", Model)    
</div> 

<script>
    document.getElementById('stringForm').addEventListener('submit', function (event) {
        var inputArray = document.getElementById('inputArray').value.trim();
        if (!inputArray) {
            alert('Please provide a non-empty input.');
            event.preventDefault();
        } else {
            var inputArraySplit = inputArray.split(',');
            for (var i = 0; i < inputArraySplit.length; i++) {
                if (!inputArraySplit[i].trim()) {
                    alert('Please provide a valid comma-separated array.');
                    event.preventDefault();
                    break;
                }
            }
        }
    });
</script>
