@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor

@{
    ViewData["Title"] = "Calculator";
    ViewBag.myUser = @accessor.HttpContext.Session.GetString("UserSession");
}
<div id="calculator-container" class="container mt-5 mx-auto text-center">
    @if (ViewBag.myUser != null)
    {
        <partial name="_CalculatorPartial" />
    }
    else
    {
        <partial name="_PartialPleaseLogin" />
    }
</div>

<div id="result-container"></div>

@* @section Scripts {
    <script>
        $(function () {
            $('#calculatorForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("Calculate")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        $('#result').text(response);
                    }
                });
            });
        });
    </script>
} *@

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#calculator-container').on('click', 'button', function () {
                var input = $(this).text();
                if (input === '=') {
                    var expression = $('#input').val();
                    $.ajax({
                        url: '@Url.Action("Calculate")',
                        type: 'POST',
                        data: { input: expression },
                        success: function (response) {
                            $('#result-container').html(response);
                        }
                    });
                } else if (input === 'C') {
                    $('#input').val('');
                    $('#result-container').val('');
                } else {
                    $('#input').val($('#input').val() + input);
                }
            });
        });
    </script>
}